/* *{
    background-color: #1d366f;
    color: aliceblue;
} */

.home{
    max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home h2{
    margin-bottom: 20px;
}

.home p{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.home .btns{
    margin-top: 15px;
}

.home button{
    background-color: #000;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;

  }